.field_0 {
	font-family: 'Roboto', 'Avenir', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	fill: #ffffff;
}

.field_1 {
	font-family: 'Roboto', 'Avenir', 'Helvetica', 'Arial', sans-serif;
	fill: #ffffff;
}

.field_2 {
	font-family: 'Roboto', 'Avenir', 'Helvetica', 'Arial', sans-serif;
	fill: #ffffff;
}